html,body,.container-fluid,.content {
	height: 100%;
}
/* 在右侧加 */
.container-fluid {
	overflow: hidden;
}
.left ul li{
	/* text-align: center; */
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	color: white;
}
.left ul i{
	line-height: 40px;
}
p{
	line-height: 40px;
	margin-bottom: 0 !important;
}
.left > ul li:nth-child(1){
	font-size: 24px;
}
.content .right{
	background-color: #ccc;
	margin: 0;
	padding-left: 1em;
}
.wrapper{
	background-color: #fff;
	padding: 1em;
	margin: 1em;
}

.current{
	background-color: #ededed;
	color: #333 !important;
}







